<div class="gap" fxFlex="100%" fxShow.lt-md="false" fxShow="true">
<mat-drawer-container class="sidenav">
	<mat-drawer mode="push" class="cont" opened>
  		<h2> AS04 </h2>
			<a class="box" routerLink="/about" routerLinkActive="active"
	        [routerLinkActiveOptions]="{ exact: true }">
		  		<div title="About">
					<i class="material-icons">
					face
					</i>
					<small><br/>About</small>
		  		</div>
	  		</a>

	  		<a  class="box" routerLink="/projects" routerLinkActive="active">
		  		<div title="Projects">
					<i class="material-icons">
					assignment
					</i>
					<small><br/>Projects</small>
		  		</div>
	  		</a>

			<a class="box"  routerLink="/work" routerLinkActive="active">
		  		<div title="Work">
	  				<i class="material-icons">
					work_outline
					</i>
					<small><br/>Experience</small>
		  		</div>
			</a>

	<!-- 	  	<div class="box" title="Awards">
			  	<span>
			  		<i class="material-icons">
					stars
					</i>
					<small><br/>Awards</small>
				</span>
			</div> -->
			<a class="box" routerLink="/skills" routerLinkActive="active">
				<div title="Skills">
			  		<i class="material-icons">
					category
					</i>
					<small><br/>Skills</small>
				</div>
			</a>
			<a  class="box" routerLink="/contact" routerLinkActive="active">
				<div title="Contact">
			  		<i class="material-icons">
					contact_mail
					</i>
					<small><br/>Contact</small>
				</div>
			</a>
	<!-- 		<div class="box">
			  	<button mat-fab>
			  		<i class="material-icons">
					thumbs_up_down
					</i>
				</button>
			</div> -->


	</mat-drawer>

</mat-drawer-container>
</div>

<div fxFlex="100%" fxShow.lt-md="true" fxShow="false">
<mat-drawer-container class="sidenav">
	<mat-drawer mode="push" class="cont" opened>
  		<h2> AS04 </h2>
			<a class="box" routerLink="/about" routerLinkActive="active"
	        [routerLinkActiveOptions]="{ exact: true }">
		  		<div title="About">
					<i class="material-icons">
					face
					</i>
					<small><br/>About</small>
		  		</div>
	  		</a>

	  		<a  class="box" routerLink="/projects" routerLinkActive="active">
		  		<div title="Projects">
					<i class="material-icons">
					assignment
					</i>
					<small><br/>Projects</small>
		  		</div>
	  		</a>

			<a class="box"  routerLink="/work" routerLinkActive="active">
		  		<div title="Work">
	  				<i class="material-icons">
					work_outline
					</i>
					<small><br/>Experience</small>
		  		</div>
			</a>

	<!-- 	  	<div class="box" title="Awards">
			  	<span>
			  		<i class="material-icons">
					stars
					</i>
					<small><br/>Awards</small>
				</span>
			</div> -->
			<a class="box" routerLink="/skills" routerLinkActive="active">
				<div title="Skills">
			  		<i class="material-icons">
					category
					</i>
					<small><br/>Skills</small>
				</div>
			</a>
			<a  class="box" routerLink="/contact" routerLinkActive="active">
				<div title="Contact">
			  		<i class="material-icons">
					contact_mail
					</i>
					<small><br/>Contact</small>
				</div>
			</a>
	<!-- 		<div class="box">
			  	<button mat-fab>
			  		<i class="material-icons">
					thumbs_up_down
					</i>
				</button>
			</div> -->


	</mat-drawer>

</mat-drawer-container>
</div>
