.gap {
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
}
mat-card {
	min-height: 40vh;
	max-height: 40vh; 
	margin-top: 10px;
}
.header-image {
	background-size: cover;
}

.mat-card-image{
   /*hidden: overflow;*/
   max-height: 100px;
   /*min-height: 25vh;*/
   max-width: 25vh;
   /*min-width: 25vh;*/
   margin-left: 24px;
   background-size: cover;
   /*margin: 0 0 0 0;*/
}

 .flex-container {
  list-style: none;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.wrap    {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}  